.bannerDoiTac {
  position: relative;
  background-color: #f3f3f3;
}
.bannerDoiTac .banner_img img {
  z-index: -1;
  width: 100%;
}

.logo_doitac img {
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}
.khoangtrang_1 {
  height: 40px;
}
.outdoitac {
  z-index: 1;
  width: 100%;
  position: absolute;
  top: 700px;
}
.bannerDoiTac .khoangtrang_1 {
  height: 20px;
}
.out_doitac .row {
  margin-top: -2rem;
  background-color: #ffffff;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
}
.doitac {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0rem;
  justify-content: center;
}
.sanphamnb {
  margin-bottom: 1rem;
}
.doitac .logo img {
  width: 270px;
  /* height: 189px; */
  margin: 0 auto;
}
.content {
  padding: 2rem 3rem 5rem 2rem;
}
.content h4 {
  font-family: Gotham-Ultra;
  color: #bd945f;
}
.content p {
  font-family: Gotham-Medium;
  color: #2c2e53;
  font-size: 13px;
}
.khoangtrong {
  height: 60px;
  background-color: #f3f3f3;
}
/* ------------đây là giới thiệu */
.doitac .gt_1 {
  display: flex;
  justify-content: center;
}

.doitac .content {
  width: 45%;
}
.out_doitac .bottomSpnb {
  height: 0px;
}
.gt_0 {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.gt_1 img {
  margin-top: 2rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: 65%;
}
.doitac .content p {
  font-size: 13px;
}
.tamnhin {
  display: flex;
  justify-content: center;
  text-align: center;
}
.tamnhin img {
  width: 85%;
}
.tamnhin p {
  margin-top: 1.5rem;
  width: 85%;
}
.us_out img {
  transform: scale(1.3);
}
.about_br_top {
  margin-bottom: 0;
  border: 3px solid #bd945f;
  background-color: #fff;
}
.about_b .about_br_top h4 {
  font-family: Gotham-medium;
  font-size: 13px;
  margin-bottom: 0rem;
}
.about_b .about_br_top p {
  font-size: 11px;
  font-family: Gotham-medium;
}
/*------------ đây là tin tức --------------*/
/* .tintuc {
  background-color: #f3f3f3;
} */
.tintuc .sanphamnb {
  padding: 0;
  margin: 0;
}
.tintuc_in {
  background-color: #fff;
}
.tintuc_in .row {
  margin-top: 30px;
}
.tintuc_in .row .tintuc_1 {
  display: flex;

  justify-content: center;
}
.image {
  width: 90%;
}
.tintuc .image .iamge_detail{
  width: 100%;
  height: 400px;
}
.tintuc_1 .image>img{
  width: 100%;
  /* height: 300px; */
width: 100%; height: 437px; object-fit:cover;
}
.tintuc_1 .image
h6,
p {
  width: 100%;
}
.tintuc_1 h6 {
  margin: 5px;
  color: #bd945f;
  font-family: Gotham-ultra;
}
.tintuc p {
  font-size: 10px;
  font-family: Gotham-Medium;
}
.tintuc h5 {
  margin-top: -2rem;
  margin-bottom: 1rem;
}
.tintuc .tintuc_in .slide2 {
  width: 80%;
}
.tintuc .tintuc_in .slide2 img {
  width: 100%;
  transform: scale(1);
}
.fourimg {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-around;
}
.image .fourimg img {
  width: 25%;
}
.anh {
  margin: 0 auto;
  width: 1450px;
  height: 450px;
  background-repeat: no-repeat;
  position: relative;
}
.anh .anh_in {
  display: flex;
}
.anh .text h6 {
  text-align: center;
  position: absolute;
  top: 20%;
  width: 400px;
  margin: 0 auto;
  color: #f3f3f3;
}
.go {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.tintuc_1 .image .go .goLim {
  border: 2px solid #959595;
  width: 150px;
  text-align: center;
  padding-top: 3px;
}
.tintuc_1 .image .go .goLim:hover {
  border: 2px solid #bd945f;
}
.tintuc_1 .image .material {
  font-size: 15px;
}
.tintuc_1 .image .price {
  font-size: 1.2rem;
  color: #bd945f;
  font-family: Gotham-Medium;
}
.tintuc_1 .image .insurance {
  border: 3px solid #959595;
  text-align: center;
  padding: 0.2rem 0;
}
.detail {
  width: 93%;
  margin: 0 auto;
}
.detail ul {
  padding: 7px 0;
}
.detail ul li {
  display: inline-block;
  list-style: none;
  border-right: 3px solid #bd945f;
  padding: 0 5px;
}
.detail ul li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #bd945f;
  font-family: Gotham-Medium;
}
.detail ul li:hover a {
  color: #343659;
}
.detail-line {
  height: 2px;
  background-color: #bd945f;
  color: #bd945f;
  margin-top: -1rem;
}
.detail-text {
  margin-top: 1rem;
}
.detail-text p {
  font-size: 12px;
}
.loaisp {
  width: 75.5%;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0.9rem 0 1rem 0;
}
.content {
  width: 95%;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0.9rem 0 1rem 0;
}
.content h5 {
  margin-left: 0.5rem;
  font-size: Gotham-Medium;
  color: #d2bc4f;
}
.slide {
  width: 100%;
}

/* liên hệ */
.content input[type="text"]{
  padding: 5px 0px 5px 0px;
  border: 3px solid #bd945f;
  margin:  0 0 1.3rem 0;
  font-family:Gotham-Medium ;
  color: #000;
}
.content input[type="submit"]{
  /* width: 600px; */
  padding: 1rem 3rem;
  background-color: #bd945f;
  border: none;
  font-family:Gotham-Medium ;
  color: #fff;
}
.content2{
  margin-top: 1rem;
}

.content2 p{
  opacity: 0;
  height: 0px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1b2a49;
} */
.btn_detail{
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn2 {
font-family: lato,sans-serif;
font-weight: bold;
font-size: 1em;
letter-spacing: 0.1em;
text-decoration: none;
color: #bd945f;
display: inline-block;
padding: 10px 40px 10px 40px;
position: relative;
border: 3px solid #bd945f;
border-radius: 20px;
margin-top: 1.3rem;
}
.btn2:hover{
  border: 3px solid #f0ddd9;
  background-color: #bd945f;
  color: rgb(255, 255, 255);
}
